/* In src/App.css */
ul {
  padding: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

h3 {
  font-size: 1.2em;
  color: #333;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: #007bff;
}
/* Reset margin and padding for the body and HTML */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
